/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

.Landing {
  text-align: center;
}

.Landing ul#horizontal-list {
  padding-left: 0px;
  padding-top: 20px;
}
  
.Landing ul#horizontal-list li {
  display: inline-flex;
  margin: 10px;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.overlay h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 500%;
  font-weight: 700;
  color: #fefefe;
}

.overlay h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 250%;
  margin: -10px;
  padding: 0px;
  font-weight: 400;
  color: #fefefe;
}

.overlay button {
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}

.overlay p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 150%;
  color: #fefefe;
}

.centered {
  position: fixed;
  width:fit-content;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.centered svg {
  display: inline-block;
  vertical-align: middle;
}